* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #1f2937;

}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}


.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 500px;
    align-items: center;
    gap: 50px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    flex: 0 0 auto;
}

.main-text {
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 900;

}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    line-height: 2;

}


.hero-container button {
    width: 200px;
    padding: 1em;
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: bolder;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

img {
    width: 550px;
    height: 350px;
}

.showy-text {
    font-weight: 1000;
    font-size: 50px;
    margin-right: 10px;
}

.showy-text-secondary {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.underline-text {
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

.information-container {
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.information-item-heading {
    font-size: 36px;
    font-weight: 900;
 }

.information-item-grids {
    display: flex;
    gap: 50px;

}

.information-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grid {
    border: #3882f6 solid 4px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.grid-text {
    width: 200px;
    height: 200px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.quote-one {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 1200px;
    font-weight: 100;
}

.quote-two {
    font-weight: bold;
    /* outline: red 1px solid; */
    font-size: 18px;
}

.cta-container {
    background-color: #f9faf8;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: #3882f6;
    padding: 50px 200px;
    display: flex;
    gap: 200px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.cta-item {
    color: #f9faf8;
}

.cta-item button{
    background-color: #3882f6;
    color: #f9faf8;
    border:#f9faf8 solid 4px;
    border-radius: 12px;
    cursor: pointer;
    width: 250px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bolder;
}

.cta-main-text {
    font-size: 24px;
    font-weight: bold;
}

.cta-secondary-text {
    font-size: 15px;
}

.cta-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    min-width: 200px;
} 

footer {
    color: #f9faf8;
    padding: 40px;
    display: flex;
    justify-content: center;
}