body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

